<!DOCTYPE html>
<html>
<head>
    <title>About me</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
<div class="main-content">
    {{>header}}

    <p>This site was created by Prasanna. It uses data from weatherstack and mapbox.com</p>
    <img class="portrait" src="/img/goku.jpg">

     
    {{>footer}}
</body>

</html>